<html>
<head>
    <title>{{title}}</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{> styles}}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    {{{block "pageStyles"}}}
</head>
<body>
<header class="header indigo z-depth-1">
    <a href="/"><img src="/images/MikeDoormanCartoon.png" alt="" class="circle responsive-img"></a>

    <h1>Doorman Mike</h1>
    <h2><span>&#9994;&#127998;</span> Total Fist Rewards <span>&#9994;&#127998;</span></h2>


    <ul id="accountDropdown" class="dropdown-content">
        <li><a href="/forgot">Change Password</a></li>
        <li class="divider"></li>
        <li><a class="logoutFormAnchor" href="#!">Log out</a></li>
    </ul>

    <nav class="indigo">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/leaderboard">leaderboard</a></li>
                <li><a href="/rewards">rewards</a></li>
                <li><a href="/about">about</a></li>
                {{#if user}}
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-button" href="#!" data-activates="accountDropdown">Welcome {{user.givenName}}<i class="material-icons right">arrow_drop_down</i></a></li>

                {{else}}
                    <li><a href="/login">login</a></li>
                {{/if}}


            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/leaderboard">leaderboard</a></li>
                <li><a href="/rewards">rewards</a></li>
                <li><a href="/about">about</a></li>
                {{#if user}}
                    <li><a class="logoutFormAnchor" href="#!">Log out</a></li>
                {{else}}
                    <li><a href="/login">login</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>

</header>


{{{body}}}

<footer class="indigo z-depth-1">
    <div class="footer-copyright indigo darken-2">
        <div class="container">
            vinberts &#9994; &nbsp; &copy; {{{currentyear}}} - All Rights Reserved.
        </div>
    </div>
</footer>

{{> scripts}}

</body>
</html>