{{!< default}}

<div class="container">
    {{#if status}}
        {{#if_eq status 'redeemed'}}
            <div id="rewardConfirmation" class="row">
                <div id="card-alert" class="card green">
                    <div class="card-content white-text">
                        <span class="card-title white-text darken-1"> Reward Redeemed!</span>
                        <p>Congratulations on redeeming your reward! keep it up!</p>
                    </div>
                    <button type="button" class="close white-text rewardConfirmationBtn" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>
        {{/if_eq}}
        {{#if_eq status 'failedRedeem'}}
        <div id="rewardConfirmation" class="row">
            <div id="card-alert" class="card red">
                <div class="card-content white-text">
                    <p><i class="material-icons">error</i> DANGER : Redemption failed :O</p>
                    <p style="padding-top: 10px;padding-left: 23px;">Doorman mike doesn't take kindly to fist abusers!</p>
                </div>
                <button type="button" class="close white-text rewardConfirmationBtn" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
        {{/if_eq}}
    {{/if}}


    <div class="row center">
        <div class="col s12 m12">
            <h2 class="header indigo-text lighten-1 section-title">
                Cash in some hard earned &#9994;&#127998; 's
            </h2>

            <p class="flow-text">
                The following fist rewards are available
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <ul class="collection">
                {{#each rewards}}
                    <li class="collection-item avatar">
                        <i class="circle {{cssClass}}">{{totalFists}}</i>
                        <span class="title">{{totalFists}} Fists</span>
                        <p>
                            {{description}}
                        </p>
                        <div style="margin-top: -25px;" class="right-align floating">
                            {{#if enabled}}
                                <a id="{{id}}" data-fists-needed="{{totalFists}}" class="waves-effect waves-light btn rewardBtn"><i class="material-icons right">cake</i>redeem</a>
                            {{else}}
                                <a id="{{id}}" data-fists-needed="{{totalFists}}" class="waves-light btn disabled tooltipped" data-position="left" data-delay="50" data-tooltip="You don't have enough fists (you have {{currentFists}})"><i class="material-icons right">cake</i>redeem</a>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
            </ul>

        </div>
    </div>
</div>